A bachelor's degree, usually in computer science,
computer systems engineering, software
engineering or mathematics or Completion of a
college program in computer science is usually
required.

A master's or doctoral degree in a related
discipline may be required.

Licensing by a provincial or territorial
association of professional engineers is
required to approve engineering drawings and
reports and to practise as a Professional
Engineer (P.Eng.).

Engineers are eligible for registration following
graduation from an accredited educational
program, three or four years of supervised work
experience in engineering, and passing a
professional practice examination.

Experience as a computer programmer is usually
required.